.box {
    /*border: 1px solid white;*/
    border-radius: 5px;
    background-color: cadetblue;
    /*background-color: rgba(0,0,0,0.3);*/
    margin-left: 445px;
}
.box1 {
    /*border: 1px solid white;*/
    border-radius: 5px;
    background-color: dodgerblue;
    background-color: rgba(0,0,0,0.5);
    margin-left: 30px;
    height: 300px;
}
.container-fluid {
    margin-top: 30px;
}
.circle {
    border: 8px solid white;
    border-radius: 72px;
    height: 47%;
    width: 145px;
    margin-left: 155px;
    padding-top: 30px;
    line-height: 20px;
}
.box p {
    color: white;
}
/*.lines {*/
    /*!*border: 1px solid black;*!*/
    /*height: 50px;*/
    /*width: 485px;*/
    /*border-radius: 5px;*/
    /*background-color: dodgerblue;*/
    /*background-color: rgba(0,0,0,0.3);*/
    /*margin-top: 172px;*/
/*}*/

.info p {
    font-size: 25px;
}