#content {
    margin-left: 350px;
    padding: 15px;
}

.heading h1 {
    color: purple;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 10px;
}

p {
    color: #1b1b1b;
    font-size: 20px;
    margin-bottom: 10px;
}

.cards {
    /*background: #ffffff;*/
    border-radius: 5px;
    padding: 30px;

}

.col-md-4 {
    width: calc(100% / 3);
    padding: 0 15px;
}

.user-img img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 78%;
    height: 100px;
    border-radius: 50%;
    margin-left: 42px;
}
.user-name {
    font-size: 22px;
    color: purple;
    font-weight: 500;
    /*margin-left: 30px;*/
    text-align: center;
    margin: 10px 0;
}

.user-title {
    font-size: 22px;
    text-align: center;
    margin: 10px 0;
}

.col-md-4 {
    width: 33.333%;
    padding: 0 15px;
    display: inline-block;
}

.col-md-3 {
    width: 33.333%;
    padding: 0 15px;
    display: inline-block;
}

.education {
    font-size: 20px;
    padding-top: 30px;
}

.schools {
    font-size: 20px;
}

.test {
    margin-left: 30px;
}

.int {
    padding-left: 20px;
}

.add {
    margin: 20px 20px;
}