* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, Time, serif;
    background: lightgray;
}

#menu {
    background: rebeccapurple;
    /*max-width: 350px;*/
    position: absolute;
    top: 0;
    bottom: 0;
    width: 364px;
    height: 1356px;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 30px 60px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    font-size: 22px;
}

a:hover {
    background: palegreen;
    border-left: 5px solid green;
    padding: 30px 60px 30px 55px;
}

nav {
    padding-top: 200px;
}

.active {
    background: mediumpurple;
    border-left: 5px solid green;
    padding: 30px 60px 30px 55px;
}

.fa {
    color: green;
    margin-right: 1rem;
    display: inline-block;
    width: 30px;
    position: relative;
    top: 2px;
}

/*.fa:active {*/
    /*color: green;*/
/*}*/

/*.fa:hover {*/
    /*color: green;*/
/*}*/

h2 {
    color: white;
    padding: 20px 20px;
}