
.fix{
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 1;
    padding: 0 20px;
}
.main{
    padding-top: 100px;
}
.dropdown {
    position: relative;
    display: inline-block;

}
.dropbtn {
    border: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: white;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn:hover{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.text a{
    margin-right: 10px;
}

.text{
    margin-top: 40px;
    font-family: Georgia, Time, serif;
}

.log{
    background-image: url("../img/Banner.png");
    background-size: cover;
    height: 320px;
    width: 100%;
}
.blur{
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 320px;
}

.foo{
    position: relative;
    top: 200px;
}
.button {
    margin-top: 25px;
    font-family: Georgia, Time, serif;
}

#container{
    background-color: rgba(0,0,0,0.4);
    margin-top: 40px;
    height: 350px;
    color: white;
    /*font-family: Helvetica, Arial, sans-serif;*/
    font-family: Georgia, Time, serif;
}

.steps{
    padding-top: 50px;
}

/* Login Styles */

#body1 {
    padding: 20px 0;
}

#body {
    height:950px;
    background-image: url("../img/laundry.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.blurry {
    background-color: rgba(0,0,0,0.7);
    height:100%;
    width:100%;
}

.foot{
    margin-left: 100px;
    margin-top: 30px;
}

span {
    position: relative;
    top: 35px;
    /*right: 15%;*/
    text-align: center;
    font-family: Georgia, Time, serif;
    color: #6c757d;
}
.laund {
    color: #6c757d;
}

span:hover {
    color: #007bff;
}
.number-select{
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    /*padding: 0.375rem 1.75rem 0.375rem 0.75rem;*/
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.add-button {
    display: inline-block;
    width: 50%;
    height: calc(2.25rem + 2px);
    /*padding: 0.375rem 1.75rem 0.375rem 0.75rem;*/
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin: 0;
}
/*@media (min-width: 300px ) and (max-width: 767px) {*/
    /*.form {*/
        /*margin-left: 0;*/
        /*margin-right: -5px;*/
        /*padding-left: 25px;;*/
    /*}*/
/*}*/

/* Making a Dashboard*/
.but {
    margin-top: 25px;
    font-family: Georgia, Time, serif;
}
.input-new{
    background: rgba(0,0,0,0);
    border:1px solid white;
    border-radius: 20px;
    color: white;
}
.input-new1{
    background: rgba(0,0,0,0);
    border:1px solid white;
    border-radius: 20px;
    color: steelblue;
}
.book-table td, .book-table th{
    text-align: center;
}

